//colors
$main-color: #fb088c;
$black-color: #212222;

//font mobile
$h1-mobile: 130px;
$h1-desktop: 230px;
$h2-mobile: 50px;
$h2-desktop: 90px;
$h3-mobile: 26px;
$h3-desktop: 35px;
$main-text-mobile: 24px;
$main-text-desktop: 32px;
$link-text-mobile: 18px;
$link-text-desktop: 20px;
$small-text-mobile: 14px;
$small-text-desktop: 16px;



$font-bold: 700;
$font-medium: 400;