//colors
$main-color: #fb088c;
$black-color: #212222;

//font mobile
$h1-mobile: 130px;
$h2-mobile: 50px;
$h3-mobile: 26px;
$main-text-mobile: 24px;
$link-text-mobile: 18px;
$small-text-mobile: 14px;



$font-bold: 700;
$font-medium: 400;